---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import ValueProps from "../components/ValueProps.astro";
import WaitlistForm from "../components/WaitlistForm.astro";
import Footer from "../components/Footer.astro";
---

<Base>
	<main>
		<Hero />
		<ValueProps />
		<WaitlistForm />
	</main>
	<Footer />
</Base>
